@font-face {
    font-family: 'AgencyFB';
    src: url('../_fonts/AgencyFB-Bold.ttf');
}

body {
    font-family:'AgencyFB', sans-serif;
    text-transform: uppercase;
    margin: 0;
    height: 100vh;
    display: flex;
}

h1 {
    margin: 0;
    text-transform: uppercase;
}

.container {
    width: 45%;
    background-image: url("assets/bg.jpg");
    background-size: cover;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20px;
}

.row {
    display: flex;
}